/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

iframe {
  margin-top: 3%;
  margin-left: 20%;
}

.calendar {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.col-sm p {
  font-family: 'Quicksand',
    sans-serif;
}


/* .logo {
    width: 300px;
    margin-top: 2.5%; */
    /* width: 50%; */
    /* position: absolute; */
    /* top: 32px; */
/* } */


/* .header {
    padding: 0px;
    width: 60%;
    
    margin-left: 2%;

} */

/* .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    list-style: none;
    min-height: 8vh;
    background-color: #24252A;
    width: 100%;
}
.header li {
    display: inline-block;
    margin-right: 3%;
}
.header li a {
    transition: all 0.3s ease 0s;
}
.link:hover {
    color: #de9a52;
}

li, a,h3 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #000000;
}

.location {
    margin-top: 2%;
    margin-left: 10%;
}
p { 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px; */
    /* line-height: 30px; */
    /* text-align: center; */
/* } */

/* .wrapper {
    margin-left: 0%;
    display: flex;
    align-items: center;
}
.wrapper section {
    display: inline-block;
    padding: 0px 3px;
    margin-right: 5%;
}

footer {
    display: flex;
    background-color: black;
    margin-top: 3%;
    padding: 5%;
    justify-content: space-between;
}
.social p  {
    display: inline-block;
}
footer a {
    font-size: 14px;
    color: white;
}

.social p a:hover {
    color: gray;
} */

/* css for calendar */

/* #cal-wrap {
    max-width:600px;
}

#cal-date {
    display:flex;
}

#cal-mth, #cal-yr, #cal-set {
    box-sizing :border-box;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 0;
    color: #fff;
} */

/* #cal-mth, #cal-yr { */
    /* can change this later*/
    /* background: #ff7738; */
/* } */

/* #cal-set {
    background: #691c69;
} */

/* Calendar CSS*/
/* #calendar {
    width: 100%;
    border-collapse: collapse;
  }
  #calendar tr.head td {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background:  #ff7738;
    padding: 15px;
    text-align: center;
  }
  #calendar tr.day td {
    border: 1px solid #ddd;
    width: 14.28%;
    padding: 15px 5px;
    vertical-align: top;
  }
  #calendar tr.day td:hover {
    background: #fff9e4;
    cursor: pointer;
  }
  #calendar tr td.blank {
    background: #f5f5f5;
  }
  #calendar .dd {
    font-size: 1.2em;
    color: #999;
  }
  #calendar .evt {
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: bold;
    overflow: hidden;
    color:  #ff7738;
  } */

  /* CSS to edit/add events*/
  /* #cal-event form {
    padding: 15px;
    margin-top: 20px;
    background: #f5f5f5;
    border: 1px solid #ddd;
  }
  #cal-event h1 {
    color: #333;
    padding: 0;
    margin: 0;
  }
  #evt-date {
    color: #999;
    margin: 10px 0;
  }
  #cal-event textarea {
    display: block;
    box-sizing: padding-box;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    resize: none;
  }
  #cal-event input[type=button], #cal-event input[type=submit] {
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
    border: 0;
    background:  #ff7738;
    color: #fff;
  } */