/* HEADER  */
.header {
    padding: 0px;
    width: 60%;
    /* width: 55%; */
    margin-left: 2%;
    /* background-color: #24252A; */

}

.header li {
    display: inline-block;
    margin-right: 3%;
}

.header li a {
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #de9a52;
}


.logo {
    width: 300px;
    margin-top: 2.5%;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    list-style: none;
    min-height: 8vh;
    background-color: #24252A;
    width: 100%;
}
