/* HEADER  */
.logo {
    width: 37%;
    margin-top: 1%;
    margin-left: 2%;
}
/* .navar {
    margin-left: 15%;
} */
.bg-primary {
    background-color: #211c1c ;
}
/* .header {
    padding: 0px;
    width: 60%;
   
    margin-left: 2%;

}

.header li {
    display: inline-block;
    margin-right: 3%;
}

.header li a {
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #de9a52;
}


.logo {
    width: 300px;
    margin-top: 2.5%;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    list-style: none;
    min-height: 8vh;
    background-color: #24252A;
    width: 100%;
}
@media screen and (max-width: 1170px) {

    .logo {
        width: 230px;
        margin-top: 8%;
    }

    .header {
        margin-left: 10%;
    }

    .link {
        font-size: 30px;

    }

}

@media screen and (max-width: 1017px) {

    .link {
        font-size: 80%;
    }

    .header {
        margin-right: 0%;
    }
}

@media screen and (max-width: 946px) {
    .link {
        font-size: 70%;
    }

    .header li {
        display: inline;
    }

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .header {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #24252A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .logo {
        top: 10px;
    }

    .header li {
        opacity: 1;

    }

}

.nav-active {
    transform: translateX(0%);

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
} */
