* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.logo {
    width: 300px;
    margin-top: 2.5%;
    /* width: 50%; */
    /* position: absolute; */
    /* top: 32px; */
}


.header {
    padding: 0px;
    width: 60%;
    /* width: 55%; */
    margin-left: 2%;
    /* background-color: #24252A; */

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    list-style: none;
    min-height: 8vh;
    background-color: #24252A;
    width: 100%;
}
.header li {
    display: inline-block;
    margin-right: 3%;
}
.header li a {
    transition: all 0.3s ease 0s;
}
.link:hover {
    color: #de9a52;
}

li, a,h3 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #000000;
}

.products {
    margin-left: 10%;
    margin-top: 5%;
}
.products img {
    width: 200px;
    height: 200px;
    margin-right: 13%;
    /* sborder-radius: 10%; */
    /* box-shadow: black 0  0 10px; */
}

.location {
    /* display: flex; */
    margin-top: 5%;
    margin-left: 10%;
}
p { 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.wrapper {
    margin-top: 4%;
    /* margin-left: 3%; */
    display: flex;
    align-items: center;
}
.wrapper section {
    display: inline-block;
    padding: 0px 3px;
    margin-right: 5%;
}

footer {
    display: flex;
    background-color: black;
    margin-top: 3%;
    padding: 5%;
    justify-content: space-between;

}
.social p  {
    display: inline-block;
}
footer a {
    font-size: 14px;
    color: white;
}

.social p a:hover {
    color: #de9a52;
}
h2 {
    margin-top: 3%;
    text-align: center;
}

.shop {
    margin-left: 0%;
    display: flex;
    align-items: center;
}

.shop section {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 0px 3px;
    margin-right: 0%;
    margin-top: 5%;
    margin-left: 10%;
    position: relative;
}
.mission {
    margin-top: 5%;
    background-color: #f6f7f9;
    padding: 2%;
    text-align:center;
}
.mission p {
    font-style: italic;
}
.mission h2 {
    margin-top: 1%;
    margin-bottom: 2%;
}

section h4,
.shop a {
    text-align: center;
}

.shop a {
    font-size: 25px;
}

.shop img {
    border-radius: 2%;
    transition: transform .2s;
    width: 100%;
    height: 400px;
    vertical-align: top;
}

.shop img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

section button {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
button {
    background : black;
    width: 30%;
    box-shadow: 5px 4px;

}
button p {
    color: white;
    
}

button p:hover {
    color: #de9a52;
    cursor:pointer;

}
.showSlide img {
    width: 100%;
    height: 400px;
}
.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    } to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    } to {
        opacity: 1;
    }
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
@media screen and (max-width: 1170px) {

    .logo {
        width: 230px;
        margin-top: 8%;
    }
    .header {
        margin-left: 10%;
    }
    .link {
        font-size: 30px;
        
    }

}

@media screen and (max-width: 1017px) {

    .link {
        font-size: 80%;
    }
    .header {
        margin-right: 0%;
    }
}

@media screen and (max-width: 946px) {
    .link {
        font-size: 70%;
    }

    .header li {
    display: inline; 
    } 

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .header {
        position: absolute;
        right: 0px;
        height: 92vh; 
        top: 8vh;
        background-color: #24252A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .logo  {
        top: 10px;
    }

    .header li {
        opacity: 1;
    
    }

}
.nav-active {
    transform: translateX(0%);

}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
     to {
         opacity: 1;
         transform: translateX(0px);
     }
}