* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Quicksand',
    sans-serif;
    
}
body {
    /* background-color: #EAE7DC; */
    background-color: rgb(230, 218, 201);
    font-family: 'Quicksand',
    sans-serif;
    
}
.col-sm p {
     font-family: 'Quicksand',
     sans-serif;
}

.logo {
    width: 300px;

}

.header {
    padding: 0px;
    width: 60%;
    margin-left: 2%;

}

.header li {
    display: inline-block;
    margin-right: 3%;
}

.header li a {
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #de9a52;
}

li,
a,
h3 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #000000;
}

.products {
    margin-left: 10%;
    margin-top: 5%;
}

.products img {
    width: 200px;
    height: 200px;
    margin-right: 13%;
    /* sborder-radius: 10%; */
    /* box-shadow: black 0  0 10px; */
}

.location {
    /* display: flex; */
    margin-top: 5%;
    margin-left: 10%;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.wrapper {
    margin-top: 4%;
    /* margin-left: 3%; */
    display: flex;
    align-items: center;
}

.wrapper section {
    display: inline-block;
    padding: 0px 3px;
    margin-right: 5%;
}

footer {
    display: flex;
    background-color: black;
    margin-top: 3%;
    padding: 5%;
    justify-content: space-between;

}

.social p {
    display: inline-block;
}

footer a {
    font-size: 14px;
    color: white;
}

.social p a:hover {
    color: #de9a52;
}

h2 {
    margin-top: 3%;
    text-align: center;
}

.shop {
    margin-left: 0%;
    display: flex;
    align-items: center;
}

.shop section {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 0px 3px;
    margin-right: 0%;
    margin-top: 5%;
    margin-left: 10%;
    position: relative;
}

.mission {
    margin-top: 5%;
    background-color: #f6f7f9;
    padding: 2%;
    text-align: center;
}

.mission p {
    font-style: italic;
}

.mission h2 {
    margin-top: 1%;
    margin-bottom: 2%;
}

section h4,
.shop a {
    text-align: center;
}

.shop a {
    font-size: 25px;
}

.shop img {
    border-radius: 2%;
    transition: transform .2s;
    width: 100%;
    height: 400px;
    vertical-align: top;
}

.shop img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

section button {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

button {
    background: black;
    width: 30%;
    box-shadow: 5px 4px;

}

button p {
    color: white;

}

button p:hover {
    color: #de9a52;
    cursor: pointer;

}

.showSlide img {
    width: 100%;
    height: 400px;
}

.left {
    left: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 1050px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.navbar-nav {
    margin-left: 45%;
}
.nav-link{
    font-size: 30px;
}
.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover+.nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked+.slide-container .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
    display: block;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1;
    }
}

.carousel {
    margin-top: 3%;
}

.big-image {
    left: 25%;
    top: 0%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

.btn-carousel {
     left: 50%;
     top: 70%;
     position: absolute;
     margin-top: -25px;
     margin-left: -25px;

}