.Missiontext{
position: absolute;
width: 570.97px;
height: 247.5px;
left: 150px;
top: 100px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 60px;
background-color: white;
color: black;

}

.Storytext {
    padding-top: 10px;
    padding-left: 200px;
    margin: 0px;
    box-sizing: border-box;
    width: 700px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 60px;
    background-color: white;
    color: black;

    overflow-y: scroll;
    overflow-x: hidden;
}

.ourStory {
    padding-top: 10px;
    padding-left: 150px;
    display: flex;
    height: 200px;
}

#more {
    display:none;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.image-slider{
    display:flex;
    width: 100%;
    height: 500px;

}
.header {
    padding: 0px;
    margin-left: 5%;
    /* background-color: #24252A; */

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    list-style: none;
}
.header li {
    display: inline-block;
    padding: 0px 20px;
}
.header li a {
    transition: all 0.3s ease 0s;
}

.header li a:hover {
    color: gray;
}

li, a, button,h3 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #000000;
}


.location {
    margin-top: 2%;
    margin-left: 10%;
}
p { 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.wrapper {
    margin-left: 0%;
    display: flex;
    align-items: center;
}
.wrapper section {
    display: inline-block;
    padding: 0px 3px;
    margin-right: 5%;
}

footer {
    display: flex;
    background-color: black;
    margin-top: 3%;
    padding: 5%;
    justify-content: space-between;
}
.social p  {
    display: inline-block;
}
footer a {
    font-size: 14px;
    color: white;
}

.social p a:hover {
    color: gray;
}
