/* h2 {
    text-align: center;
}

.shops {
    margin-left: 0%;
    display: flex;
    align-items: center;
}

.shops section {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 0px 3px;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 10%;
}

section h4,
.shops a {

    text-align: center;
}

.shops a {
    font-size: 25px;
}

.shops img {
    width: 100%;
    height: 400px;
    vertical-align: top;
    margin-top: 5%

}

.shops h4 a:hover {
    color: gray;
}

@media screen and (max-width: 763px) {
        .shops img {
            margin-top: 20%;
        } 
} */
.col-sm p {
    font-family: 'Quicksand',
        sans-serif;
}
img {
    border-radius: 2%;
    transition: transform .2s;
    width: 70%;
    height: 80%;
    object-fit: cover;
}
img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

