* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    padding: 0px;
    margin-left: 5%;
    /* background-color: #24252A; */

}
.container {
    position: relative;
}




.text{
position: absolute;
width: 570.97px;
height: 247.5px;
left: 150px;
top: 100px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 60px;
background-color: white;
color: black;

}


.bgimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
        width: 100%;
  }

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    list-style: none;
}
/* .header  {
    /* list-style: none; */
    /* margin-left: 5%; */
/* }  */

.header li {
    display: inline-block;
    padding: 0px 20px;
}
.header li a {
    transition: all 0.3s ease 0s;
}

.header li a:hover {
    color: gray;
}

li, a, button,h3 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #000000;
}
.slideshow {
    background-color: gray;
    padding: 9%;
    /* margin-left: 10%; */
}


.location {
    margin-top: 2%;
    margin-left: 10%;
}
p { 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.image-container {
    width: 90%;
    margin: auto;
    border: 2px solid black;
}

.image-slider {
    display: flex;
    width: 100%;
    height: 500px;

}
.wrapper {
    margin-left: 0%;
    display: flex;
    align-items: center;
}
.wrapper section {
    display: inline-block;
    padding: 0px 3px;
    margin-right: 5%;
}

footer {
    display: flex;
    background-color: black;
    margin-top: 3%;
    padding: 5%;
    justify-content: space-between;

}
.social p  {
    display: inline-block;
}
footer a {
    font-size: 14px;
    color: white;
}

.social p a:hover {
    color: gray;
}